@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&amp;subset=cyrillic");
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
html {
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;

  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
          text-decoration: underline;
          text-decoration: underline dotted;
  border-bottom: none;

  -webkit-text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #c1c5c9;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000000 !important;
  }
  .tag {
    border: 1px solid #000000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #ffffff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dddddd !important;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding-top: 27px;
  color: #000000;
  background-color: #ffffff;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
}

@media (min-width: 1024px) {
  body {
    padding-top: 196px;
  }
  body.fixed-header {
    padding-top: 67px;
  }
}

[tabindex="-1"]:focus {
  outline: none !important;
}

a {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: #009424;
}

a:focus, a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: default;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1.5em;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none;
}

hr {
  width: auto;
  height: 1px;
  margin-top: 57px;
  margin-bottom: 40px;
  border: 0 none;
  background-color: #b1b8c0;
}

.page {
  overflow-x: hidden;
}

.content {
  padding-top: 58px;
  padding-bottom: 50px;
}

@media (min-width: 1024px) {
  .page {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -217px;
  }
  .page:after {
    display: block;
    content: "";
  }
  .footer,
  .page:after {
    height: 217px;
  }
  .content {
    padding-bottom: 100px;
  }
}

@font-face {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;

  src: url("../fonts/icons.eot?5rbfwu");
  src: url("../fonts/icons.eot?5rbfwu#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?5rbfwu") format("truetype"), url("../fonts/icons.woff?5rbfwu") format("woff"), url("../fonts/icons.svg?5rbfwu#icons") format("svg");
}

[class^="icon-"], [class*=" icon-"], .slick-arrow, .panel__title:after {
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before,
.panel__title:after {
  content: "\e901";
}

.icon-caret-up:before,
.panel.active .panel__title:after {
  content: "\e902";
}

.icon-prev:before,
.slick-prev:before {
  content: "\e90a";
}

.icon-next:before,
.slick-next:before {
  content: "\e912";
}

.icon-menu:before {
  content: "\e900";
}

.icon-doc:before {
  content: "\e903";
}

.icon-xls:before {
  content: "\e905";
}

.icon-file:before {
  content: "\e906";
}

.icon-family:before {
  content: "\e913";
}

.icon-cart:before {
  content: "\e907";
}

.icon-certificate:before {
  content: "\e908";
}

.icon-earth:before {
  content: "\e909";
}

.icon-handshake:before {
  content: "\e90b";
}

.icon-house:before {
  content: "\e90c";
}

.icon-list:before {
  content: "\e90d";
}

.icon-money:before {
  content: "\e90e";
}

.icon-mail:before {
  content: "\e90f";
}

.icon-clock:before {
  content: "\e910";
}

.icon-phone:before {
  content: "\e911";
}

.icon-close:before {
  content: "\e904";
}

.icon-geo:before {
  content: "\e914";
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2733;
  font-weight: 500;
}

h1, h2, h3,
.h1, .h2, .h3 {
  color: #009424;
}

h1, .h1 {
  margin-bottom: 44px;
  font-size: 36px;
  line-height: 1.2777777778;
}

h2, .h2 {
  margin-bottom: 31px;
  font-size: 24px;
  line-height: 1.4166666667;
}

h3, .h3 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.4444444444;
}

h4, .h4 {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.4444444444;
}

h5, .h5 {
  font-size: 16px;
  line-height: 1.625;
}

h6, .h6 {
  font-size: 14px;
  line-height: 1.4285714286;
}

p,
address,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 26px;
}

p:last-child,
address:last-child,
ol:last-child,
ul:last-child,
dl:last-child {
  margin-bottom: 0;
}

address {
  font-style: normal;
  line-height: inherit;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 0 12px;
}

dd:last-child {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 26px;
  padding: 0 22px;
  border-left: 7px solid #d9191c;
}

strong {
  font-weight: 500;
}

.text-primary {
  color: #009424;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-compact {
  line-height: 1.375;
}

.text-lg {
  letter-spacing: 0.05em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1030px;
  }
}

.container_lg {
  max-width: 1230px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1 {
  max-width: 8.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
}

.col-xs-2 {
  max-width: 16.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
}

.col-xs-3 {
  max-width: 25%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-xs-4 {
  max-width: 33.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
}

.col-xs-5 {
  max-width: 41.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
}

.col-xs-6 {
  max-width: 50%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-xs-7 {
  max-width: 58.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
}

.col-xs-8 {
  max-width: 66.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
}

.col-xs-9 {
  max-width: 75%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.col-xs-10 {
  max-width: 83.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
}

.col-xs-11 {
  max-width: 91.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
}

.col-xs-12 {
  max-width: 100%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-sm-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-sm-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-sm-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-md-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-md-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-md-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-lg-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-lg-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-lg-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-xl-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-xl-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-xl-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-xl-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-xl-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-xl-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-xl-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-xl-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-xl-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-xl-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-xl-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.col-xs-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-xs-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-sm-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-sm-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-md-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-md-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-lg-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-lg-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-xl-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-xl-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.row-xs-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-xs-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-xs-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-sm-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-sm-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-sm-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-md-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-md-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-md-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-lg-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-lg-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-lg-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row-xl-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-xl-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-xl-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.col-xs-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-xs-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-xs-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-sm-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-sm-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-sm-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-md-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-md-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-md-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-lg-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-lg-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-lg-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-xl-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-xl-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-xl-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button {
  display: inline-block;
  padding: 6px 26px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: 0;
  font-size: 13px;
  line-height: 20px;
}

.button:focus, .button:hover {
  text-decoration: none;
  outline: 0;
}

.button:focus, .button.focus, .button:active:focus, .button:active.focus, .button.active:focus, .button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline: 0;
  outline-offset: -2px;
}

.button.focus {
  text-decoration: none;
}

.button:active, .button.active {
  outline: 0;
  background-image: none;
}

.button.disabled, .button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.button + .button {
  margin-left: 3px;
}

.button__icon {
  display: inline-block;
  margin-right: 10px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  vertical-align: middle;
  font-size: 16px;
}

@media (min-width: 576px) {
  .button {
    padding-right: 30px;
    padding-left: 30px;
  }
}

a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}

.button_default {
  color: #009424;
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_default:hover {
  color: #ffffff;
  border-color: #009424;
  background-color: #009424;
}

.button_default:focus {
  color: #ffffff;
  border-color: #009424;
  background-color: #009424;
}

.button_default:active {
  color: #ffffff;
  border-color: #009424;
  background-color: #009424;
  background-image: none;
}

.button_default:active:hover, .button_default:active:focus {
  color: #ffffff;
  border-color: #bfbfbf;
  background-color: #d4d4d4;
}

.button_default.disabled:focus, .button_default:disabled:focus {
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_default.disabled:hover, .button_default:disabled:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}

.button_primary {
  color: #ffffff;
  border-color: #009424;
  background-color: #009424;
}

.button_primary:hover {
  border-color: #009e26;
  background-color: #009e26;
}

.button_primary:focus {
  border-color: #009e26;
  background-color: #009e26;
}

.button_primary:active {
  border-color: #009e26;
  background-color: #009e26;
  background-image: none;
}

.button_primary:active:hover, .button_primary:active:focus {
  border-color: #001505;
  background-color: #003d0f;
}

.button_primary.disabled:focus, .button_primary:disabled:focus {
  border-color: #009424;
  background-color: #009424;
}

.button_primary.disabled:hover, .button_primary:disabled:hover {
  border-color: #009424;
  background-color: #009424;
}

.button_link {
  padding-right: 0;
  padding-left: 0;
  text-decoration: underline;
  text-transform: none;
  color: #009424;
  border-radius: 0;
  font-weight: normal;
}

.button_link:hover {
  border-color: transparent;
}

.button_link:focus, .button_link:hover {
  color: #009424;
  background-color: transparent;
}

.button_link, .button_link:active, .button_link.active, .button_link:disabled {
  background-color: transparent;
}

.button_link, .button_link:focus, .button_link:active {
  border-color: transparent;
}

.button_link:disabled:focus, .button_link:disabled:hover {
  text-decoration: none;
  color: #c1c5c9;
}

.button_block {
  display: block;
  width: 100%;
}

.button_block + .button_block {
  margin-top: 5px;
}

input[type="submit"].button_block,
input[type="reset"].button_block,
input[type="button"].button_block {
  width: 100%;
}

.form__control {
  position: relative;
  display: block;
  width: 100%;
  height: 26px;
  padding: 0 19px 2px;
  -webkit-transition: color ease-in-out 0.15s;
          transition: color ease-in-out 0.15s;
  color: #000000;
  border: 1px solid rgba(99, 114, 130, 0.3);
  border-radius: 3px;
  background: none;
  background-color: #ffffff;
  background-clip: padding-box;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2307692308;
}

.form__control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form__control::-webkit-input-placeholder {
  opacity: 1;
  color: #000000;
}

.form__control:-ms-input-placeholder {
  opacity: 1;
  color: #000000;
}

.form__control::-ms-input-placeholder {
  opacity: 1;
  color: #000000;
}

.form__control::placeholder {
  opacity: 1;
  color: #000000;
}

.form__control:-ms-input-placeholder {
  color: #000000;
}

.form__control:disabled, .form__control[readonly] {
  opacity: 1;
  background-color: #c1c5c9;
}

.form__control:disabled {
  cursor: not-allowed;
}

.form__control:focus, .form__control:active {
  outline: 0;
}

.form__control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(99, 114, 130, 0.5);
}

.form__control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(99, 114, 130, 0.5);
}

.form__control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(99, 114, 130, 0.5);
}

.form__control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(99, 114, 130, 0.5);
}

.form__control.select:not([size]):not([multiple]) {
  height: calc(26px - 1px);
}

.form__control.select:focus::-ms-value {
  color: #000000;
}

.form__control-file, .form__control-range {
  display: block;
}

.form__group {
  position: relative;
  margin-bottom: 10px;
}

.form__group_submit {
  margin-top: 20px;
  margin-bottom: 0;
}

.form__label {
  display: block;
  margin-bottom: 7px;
}

.form__label.hidden {
  display: none;
}

textarea.form__control {
  height: auto;
  padding-top: 7px;
}

.custom-control {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  cursor: pointer;
  -webkit-transition: color 0.25s ease-in-out;
          transition: color 0.25s ease-in-out;
  text-align: left;
}

.custom-control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control__indicator {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: inherit;
  border: solid 1px #637282;
  background-color: #ffffff;
}

.custom-control__input:checked ~ .custom-control__indicator:before,
.custom-control__input:active ~ .custom-control__indicator:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  content: "";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #009424;
}

.custom-checkbox .custom-control__indicator {
  border-radius: 3px;
}

.custom-checkbox .custom-control__input:checked ~ .custom-control__indicator:before,
.custom-checkbox .custom-control__input:active ~ .custom-control__indicator:before {
  border-radius: 3px;
}

.custom-radio .custom-control__indicator {
  border-radius: 50%;
}

.custom-radio .custom-control__input:checked ~ .custom-control__indicator:before,
.custom-radio .custom-control__input:active ~ .custom-control__indicator:before {
  border-radius: 50%;
}

.link-pseudo {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.link-pseudo:focus, .link-pseudo:hover {
  text-decoration: none;
}

.link-underlined {
  text-decoration: underline;
}

.tel {
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.tel:focus, .tel:hover {
  text-decoration: none;
  color: inherit;
}

.contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts-info__phone {
  display: block;
  margin-left: 30px;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

.contacts-info__phone:focus, .contacts-info__phone:hover {
  text-decoration: none;
}

.contacts-info__email {
  display: block;
  margin-top: 3px;
  margin-left: 30px;
  color: #1b2733;
  font-size: 14px;
  line-height: 1.5714285714;
}

.contacts-info__email a {
  color: inherit;
}

.docs {
  margin-bottom: 78px;
}

.docs__list {
  padding: 0;
  padding: 0;
  list-style: none;
}

.docs__item {
  position: relative;
  margin-bottom: 19px;
  padding: 2px 0 2px 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.docs__item:before {
  display: none;
}

.docs__icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #009424;
  font-size: 30px;
}

.subnav {
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
  background-color: #ffffff;
}

.subnav__list {
  padding: 0;
  list-style: none;
}

.subnav__item {
  position: relative;
}

.subnav__link {
  display: block;
  padding: 7px 30px 8px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #000000;
  font-size: 13px;
  line-height: 1.2307692308;
}

.subnav__link:focus, .subnav__link:hover {
  text-decoration: none;
  color: #009424;
}

.subnav__link.active {
  text-decoration: none;
  color: #009424;
}

@media (min-width: 1024px) {
  .subnav {
    margin-bottom: 0;
    text-align: center;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }
  .subnav__list {
    padding: 40px 0 10px;
  }
  .subnav__link {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.nav {
  display: none;
  overflow: auto;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}

.nav__list {
  position: relative;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 30px;
  list-style: none;
}

.nav__item {
  position: relative;
}

.nav__item_button {
  padding-top: 10px;
  padding-left: 15px;
}

.nav__link {
  position: relative;
  display: block;
  padding: 10px 44px 10px 15px;
  white-space: nowrap;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1b2733;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
}

.nav__link:focus, .nav__link:hover {
  text-decoration: none;
  color: #009424;
}

.nav__link.active {
  color: #009424;
}

.nav__icon {
  position: relative;
  left: 5px;
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
  font-size: 6px;
}

.nav__button {
  width: 170px;
  padding-right: 0;
  padding-left: 0;
}

.nav__subnav {
  display: none;
}

.nav__item.active .nav__subnav {
  display: block;
}

@media (min-width: 1024px) {
  .nav {
    top: 0;
    display: block !important;
    overflow: visible;
    -webkit-transition: 0.4s;
            transition: 0.4s;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    margin-left: -16px;
    padding: 16px 0 17px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
  }
  .nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__item:focus .nav__link, .nav__item:hover .nav__link {
    color: #009424;
  }
  .nav__item_button {
    margin-left: auto;
    padding: 0;
    white-space: nowrap;
  }
  .nav__link {
    z-index: 101;
    padding: 7px 15px;
  }
  .nav__item_with-menu:hover .nav__link,
  .nav__item_with-menu:focus .nav__link {
    color: #ffffff;
    background-color: #009424;
  }
  .nav__subnav {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
    opacity: 0;
  }
  .nav__item.active .nav__subnav {
    visibility: hidden;
    opacity: 0;
  }
  .nav__item:hover .nav__subnav {
    visibility: visible;
    opacity: 1;
  }
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 69px;
  -webkit-transition: 0.3s;
          transition: 0.3s;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  content: "";
  background-color: #ebf0f5;
}

.header__logo {
  width: 50px;
  margin-right: 15px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

.header__logo-img {
  display: block;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1 1 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title {
  -webkit-transition: -webkit-transform 0.3s;
          transition: -webkit-transform 0.3s;
          transition:         transform 0.3s;
          transition:         transform 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  line-height: 1.4545454545;
}

.header__contacts {
  position: fixed;
  top: 69px;
  right: 0;
  left: 0;
  display: none;
  height: 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.header__mobile-nav {
  margin-left: auto;
  text-align: right;
  white-space: nowrap;
  font-size: 0;
}

.header__mobile-button {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 4px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ebf0f5;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 34px;
}

.header__mobile-button:focus, .header__mobile-button:hover {
  text-decoration: none;
}

.header__mobile-button.active {
  background-color: rgba(235, 240, 245, 0.5);
}

.header__mobile-button.icon-phone-active {
  font-size: 16px;
}

.header__mobile-button.icon-menu {
  font-size: 26px;
}

.header_no-border .header__container:after {
  display: none;
}

@media (min-width: 576px) {
  .header__title {
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.375;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-top: 33px;
    -webkit-transition: 0.3s;
            transition: 0.3s;
  }
  .header__container {
    height: auto;
    padding-bottom: 2px;

    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__container:after {
    right: 15px;
    left: -100px;
  }
  .header__logo {
    max-width: 138px;
    margin-top: 7px;
    margin-right: 30px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 138px;
            flex: 0 0 138px;
  }
  .header__logo-img {
    width: auto;
  }
  .header__content {
    max-width: 800px;
    margin-left: auto;

    -webkit-box-flex: 1;
        -ms-flex: 1 1 800px;
            flex: 1 1 800px;
  }
  .header__top {
    padding-bottom: 29px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .header__title {
    max-width: 420px;
  }
  .header__contacts {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;

    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__nav {
    position: static;
    margin-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__mobile-nav {
    display: none;
  }
  .header_scrolled {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  }
  .header_scrolled .header__container {
    padding-bottom: 0;
  }
  .header_scrolled .header__container:after {
    display: none;
  }
  .header_scrolled .header__logo {
    max-width: 50px;
    margin-top: 0;
    margin-right: 27px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .header_scrolled .header__content {
    max-width: none;

    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1 0;
  }
  .header_scrolled .header__top {
    padding-bottom: 0;
    border-bottom-width: 0;
  }
  .header_scrolled .header__title {
    display: none;
  }
  .header_scrolled .header__contacts {
    position: fixed;
    top: 67px;
    right: 0;
    left: 0;
    display: none;
            flex-direction: row;
    height: 70px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 2px 4px -1px rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 2px 4px -1px rgba(0, 0, 0, 0.25);

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_scrolled .header__nav {
    padding-right: 60px;
  }
  .header_scrolled .header__nav .nav__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_scrolled .header__nav .nav__item_button {
    margin-left: 0;
  }
  .header_scrolled .header__mobile-nav {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header_scrolled .header__mobile-button.icon-phone-active {
    display: block;
  }
  .header_scrolled .header__mobile-button.icon-menu {
    display: none;
  }
}

.footer__nav {
  position: static;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #b1b8c0;
  border-width: 1px 0;
}

.footer__nav .nav__list {
  padding-top: 16px;
  padding-bottom: 17px;
}

.footer__bottom {
  padding-top: 38px;
  padding-bottom: 38px;
}

.footer__copy {
  font-size: 14px;
  line-height: 1.4285714286;
}

.footer__copy-text {
  max-width: 270px;
}

.footer__pixel {
  margin-top: 20px;
  letter-spacing: 0.03em;
  font-size: 13px;
  line-height: 1.2307692308;
}

.footer__pixel-img {
  display: inline-block;
  margin-top: 4px;
  margin-right: 6px;
  vertical-align: top;
}

.footer__pixel-text {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

@media (min-width: 576px) {
  .footer__pixel {
    margin-top: 0;
    text-align: right;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer__nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav .nav__item {
    width: 50%;
  }
  .footer__nav .nav__item_button {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav .nav__item {
    width: 33.33%;
  }
  .footer__nav .nav__item_button {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .footer__nav .nav__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__nav .nav__item_button {
    margin-left: auto;
  }
}

.breadcrumbs {
  margin-top: 17px;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs__item {
  display: inline;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #009424;
  font-size: 11px;
  line-height: 1.4545454545;
}

.breadcrumbs__item:after {
  margin-right: 4px;
  margin-left: 4px;
  content: "-";
  color: #c1c5c9;
}

.breadcrumbs__item:last-child:after {
  content: "";
}

.breadcrumbs__link {
  color: #c1c5c9;
}

.page-header {
  margin-bottom: 44px;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column-reverse;

  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
}

.page-header h1,
.page-header .h1 {
  margin-bottom: 0;
}

.page-header .breadcrumbs {
  margin-bottom: 16px;

  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 1024px) {
  .page-header__container {
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-header .breadcrumbs {
    margin-bottom: 0;

    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6,
.article .h1, .article .h2, .article .h3, .article .h4, .article .h5, .article .h6 {
  clear: both;
}

.article > ul, .article > ol {
  padding-left: 25px;
  list-style-type: none;
}

.article > ul > li, .article > ol > li {
  position: relative;
  margin-bottom: 4px;
}

.article > ul > li:before, .article > ol > li:before {
  position: absolute;
  left: 0;
}

.article > ul > li {
  padding-left: 15px;
}

.article > ul > li:before {
  top: 0.65em;
  width: 5px;
  height: 5px;
  content: "";
  background-color: #009424;
}

.article > ol {
  counter-reset: ol-counter;
}

.article > ol > li {
  padding-left: 22px;
}

.article > ol > li:before {
  position: absolute;
  top: 0;
  content: counter(ol-counter) ".";
  counter-increment: ol-counter;
  color: #009424;
}

.article > img,
.article .img-left,
.article .img-right,
.article .img-full {
  display: block;
  margin-top: 30px;
  margin-bottom: 59px;
}

.article .img-left img,
.article .img-right img,
.article .img-full img {
  display: block;
}

.article .img-adaptive {
  width: 100%;
  height: auto;
}

.article .preview {
  margin-top: 66px;
  margin-bottom: 68px;
}

.article__nav {
  margin-bottom: 56px;
}

.article__nav-list {
  padding: 0;
  list-style: none;
}

.article__nav-list li {
  display: inline;
}

.article__nav-list li + li:before {
  margin-right: 11px;
  margin-left: 8px;
  content: "/";
  color: #009424;
}

.article__docs {
  margin-top: 54px;
}

@media (min-width: 576px) {
  .article > img {
    margin-right: auto;
    margin-left: auto;
  }
  .article .img-full img {
    margin-right: auto;
    margin-left: auto;
  }
  .article .img-left {
    float: left;
    margin-top: 6px;
    margin-right: 30px;
    margin-bottom: 26px;
  }
  .article .img-right {
    float: right;
    margin-top: 6px;
    margin-bottom: 26px;
    margin-left: 30px;
  }
  .article .img-adaptive {
    width: 270px;
  }
}

.section {
  padding-top: 79px;
  padding-bottom: 79px;
  color: #1b2733;
}

.section:last-child {
  padding-bottom: 0;
}

.section_no-top-padding {
  padding-top: 0;
}

.section_bg-img, .section_bg-img-dark {
  position: relative;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.section_bg-img h1, .section_bg-img h2, .section_bg-img h3, .section_bg-img h4, .section_bg-img h5, .section_bg-img h6,
.section_bg-img .h1, .section_bg-img .h2, .section_bg-img .h3, .section_bg-img .h4, .section_bg-img .h5, .section_bg-img .h6, .section_bg-img-dark h1, .section_bg-img-dark h2, .section_bg-img-dark h3, .section_bg-img-dark h4, .section_bg-img-dark h5, .section_bg-img-dark h6,
.section_bg-img-dark .h1, .section_bg-img-dark .h2, .section_bg-img-dark .h3, .section_bg-img-dark .h4, .section_bg-img-dark .h5, .section_bg-img-dark .h6 {
  color: #ffffff;
}

.section_bg-img .slick-prev:before,
.section_bg-img .slick-next:before, .section_bg-img-dark .slick-prev:before,
.section_bg-img-dark .slick-next:before {
  color: #ffffff;
}

.section_bg-img {
  background-image: url(../i/bg-1.jpg);
}

.section_bg-img-dark {
  position: relative;
  z-index: 1;
  background-image: url(../i/bg-2.jpg);
  background-attachment: fixed;
}

.section_bg-img-dark:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(27, 39, 51, 0.6);
}

.section_text {
  text-align: center;
}

.section_text .section__content {
  max-width: 1094px;
  margin-right: auto;
  margin-left: auto;
}

.section_text .section__title {
  font-size: 30px;
  line-height: 1.2;
}

.preview {
  display: block;
}

.preview:focus, .preview:hover {
  text-decoration: none;
}

.preview__img-placeholder {
  display: none;
}

.preview__content {
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #637282;
  border-width: 1px 0;
}

.preview__text {
  margin-bottom: 18px;
  letter-spacing: 0.05em;
  color: #637282;
  font-size: 14px;
  line-height: 1.4285714286;
}

@media (min-width: 768px) {
  .preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .preview__img-placeholder {
    display: block;
    max-width: 270px;
    margin-right: 30px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
  }
  .preview__img {
    display: block;
    margin: 0;
  }
  .preview__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #009424;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  white-space: nowrap;
}

.pagination__item_start .pagination__link, .pagination__item_end .pagination__link {
  padding-right: 0;
  padding-left: 0;
}

.pagination__item_start {
  padding-right: 10px;

  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.pagination__item_start .pagination__link:before {
  margin-right: 4px;
  content: "<";
}

.pagination__item_end {
  padding-left: 10px;

  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.pagination__item_end .pagination__link:after {
  margin-left: 4px;
  content: ">";
}

.pagination__link {
  display: block;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-left: 4px;
  text-align: center;
  border-radius: 100px;
  font-size: 14px;
  line-height: 1.7142857143;
}

.pagination__link.active {
  min-width: 25px;
  margin-right: 2px;
  margin-left: 2px;
  cursor: default;
  text-decoration: none;
  color: #ffffff;
  background-color: #009424;
}

.pagination__link.active:focus, .pagination__link.active:hover {
  text-decoration: none;
  background-color: #009424;
}

@media (min-width: 576px) {
  .pagination__list {
    width: auto;
  }
  .pagination__item_start {
    padding-right: 26px;

    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .pagination__item_end {
    padding-left: 26px;

    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.gallery {
  padding-top: 46px;
  padding-bottom: 45px;
  color: #ffffff;
}

.gallery:before {
  background-color: rgba(27, 39, 51, 0.8);
}

.gallery__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 39px;

  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__title {
  margin-bottom: 0;
  color: inherit;
}

.gallery__action {
  margin-top: 7px;
}

.gallery a {
  color: inherit;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  padding: 0;
  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__item {
  overflow: hidden;
  width: 235px;
  height: 165px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.gallery__img {
  display: block;
}

.gallery__link {
  display: block;
  outline: 0;
}

.news__list {
  margin-bottom: -40px;
  padding-bottom: 30px;
}

.news__item {
  margin-bottom: 40px;
  padding-bottom: 39px;
  border-bottom: 1px solid #b1b8c0;
}

.news__img-placeholder {
  display: block;
  overflow: hidden;
  width: 270px;
  height: 180px;
  margin-bottom: 30px;
}

.news__img {
  display: block;
}

.news__content {
  color: #637282;
  font-size: 14px;
  line-height: 1.4285714286;
}

.news__date {
  margin-bottom: 18px;
}

.news__title {
  margin-bottom: 14px;
}

.news__text {
  margin-bottom: 0;
}

.news__pagination {
  margin-top: 0;
}

@media (min-width: 1024px) {
  .news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news__img-placeholder {
    max-width: 270px;
    margin-right: 30px;
    margin-bottom: 0;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
  }
  .news__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1 0;
  }
}

.suppliers {
  padding-top: 31px;
  text-align: center;
}

.suppliers__header {
  position: relative;
  margin-bottom: 36px;
}

.suppliers__header:before {
  position: absolute;
  z-index: -1;
  top: 17px;
  right: 0;
  left: 0;
  height: 1px;
  content: "";
  background-color: #b1b8c0;
}

.suppliers__header-title {
  display: inline-block;
  margin-bottom: 0;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #ffffff;
}

.suppliers__list {
  padding: 0;
  list-style: none;
}

.suppliers__list, .suppliers__list:last-child {
  margin-bottom: -50px;
}

.suppliers__item {
  margin-bottom: 50px;
}

.suppliers__img-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 148px;
}

.suppliers__img {
  display: block;
  max-height: 100%;
  margin: auto;
}

.suppliers__title {
  margin-bottom: 3px;
  font-weight: 400;
}

.suppliers__text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.6428571429;
}

@media (min-width: 576px) {
  .suppliers {
    padding-top: 71px;
  }
}

.panels__list {
  margin-top: 37px;
}

.panels__list:last-child {
  margin-bottom: -10px;
}

.panels__item {
  margin-bottom: 10px;
}

.panel__header {
  padding: 20px 30px;
  cursor: pointer;
  background-color: #ebf0f5;
}

.panel__title {
  color: #000000;
}

.panel__title:after {
  position: relative;
  left: 12px;
  display: inline-block;
  vertical-align: middle;
  color: #637282;
  font-size: 6px;
}

.panel__content {
  display: none;
  padding: 26px 30px 63px;
}

.panel__content_md {
  font-size: 14px;
  line-height: 1.6428571429;
}

.active .panel__content {
  display: block;
}

.panel__action {
  margin-top: 42px;
}

.panel:last-child .panel__content {
  padding-bottom: 0;
}

.feedback {
  margin-top: -22px;
}

.feedback__form {
  margin-bottom: 41px;
  padding-bottom: 29px;
}

.feedback__form p {
  margin-bottom: 20px;
}

.feedback__form-body {
  max-width: 300px;
  margin-bottom: 40px;
  padding-top: 10px;
}

.feedback__form.active {
  padding-bottom: 54px;
  border-bottom: 1px solid #b1b8c0;
}

.features {
  text-align: center;
}

.features__list {
  margin-top: 93px;
  margin-bottom: -74px;
}

.features__item {
  margin-bottom: 80px;
}

.features__content {
  width: 230px;
  margin-right: auto;
  margin-left: auto;
}

.features__icon-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  margin-bottom: 24px;
}

.features__icon {
  display: block;
  margin: auto auto 0;
  color: #d9191c;
  font-size: 100px;
}

.features__icon.icon-earth, .features__icon.icon-family {
  font-size: 90px;
}

.features__icon.icon-list, .features__icon.icon-cart {
  font-size: 80px;
}

.features__text {
  color: #1b2733;
  font-size: 14px;
  line-height: 1.6428571429;
}

.features_sm .features__list {
  margin-top: 57px;
}

.features_sm .features__icon-placeholder {
  height: 60px;
}

.features_sm .features__icon {
  margin-bottom: auto;
  font-size: 60px;
}

.features_sm .features__icon.icon-handshake {
  font-size: 54px;
}

.features_sm .features__icon.icon-cart {
  font-size: 60px;
}

.certificates {
  margin-top: 75px;
  text-align: center;
}

.certificates__list {
  margin-top: 61px;
}

.certificates__list:last-child {
  margin-bottom: -80px;
}

.certificates__item {
  margin-bottom: 80px;
}

.certificates__img-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 225px;
  margin-bottom: 29px;
  outline: 0;
}

.certificates__img {
  display: block;
  max-height: 100%;
  margin: auto auto 0;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.certificates__text {
  width: 165px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.6428571429;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding-top: 94px;
  padding-bottom: 60px;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__title {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}

.promo__text {
  font-size: 14px;
  line-height: 1.6428571429;
}

.promo__action {
  margin-top: 38px;
}

.promo__button {
  width: 240px;
}

.promo__brands {
  margin-top: 50px;
}

.map {
  height: 500px;
}

.map .ymaps-2-1-62-balloon {
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.map .ymaps-2-1-62-balloon__layout {
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.map .ymaps-2-1-62-balloon__tail {
  display: none;
}

.popover {
  padding: 30px 0 30px 28px;
  text-align: left;
  color: #1b2733;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4285714286;
}

.popover p {
  margin-bottom: 19px;
}

.popover p:last-child {
  margin-bottom: 0;
}

.departments {
  padding-top: 96px;
}

.departments__list, .departments__list:last-child {
  margin-bottom: -48px;
}

.departments__item {
  margin-bottom: 48px;
}

.departments__title {
  margin-bottom: 8px;
}

.details {
  margin-top: 13px;
}

.details__action {
  margin-top: 35px;
}

.contacts-details {
  margin-top: 64px;
  padding-bottom: 44px;
}

.contacts-details__list {
  margin-top: 37px;
}

.contacts-details__list, .contacts-details__list:last-child {
  margin-bottom: -21px;
}

.contacts-details__item {
  position: relative;
  margin-bottom: 21px;
  padding-left: 27px;
}

.contacts-details__icon {
  position: absolute;
  top: 6px;
  left: 0;
  color: #009424;
  font-size: 18px;
}

.video {
  position: relative;
  height: 0;
  /* 16:9 */
  padding-top: 25px;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 30px 15px 43px;
  background-color: #ffffff;
}

.modal__title {
  margin-bottom: 14px;
  text-align: center;
}

.modal__text {
  margin-bottom: 22px;
  text-align: center;
}

.modal .form__label {
  display: none;
}

@media (min-width: 576px) {
  .modal {
    padding-right: 48px;
    padding-left: 48px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #ffffff slick-image-url("ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 21px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: auto;
  color: transparent;
  border: none;
  outline: none;
  background: none;
}

.slick-prev:before,
.slick-next:before {
  color: #637282;
  font-size: 23px;
}

.slick-prev:focus, .slick-prev:hover,
.slick-next:focus,
.slick-next:hover {
  opacity: 0.5;
  outline: none;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

/* Dots */
.slick-dots {
  position: absolute;
  right: 0;
  bottom: 23px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  text-align: center;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  color: transparent;
  border: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:focus, .slick-dots li button:hover {
  width: 10px;
  height: 10px;
  outline: none;
  background-color: #ffffff;
}

.slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #ffffff;
}

.hero {
  margin-top: -17px;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  width: 100%;
  padding-top: 41px;
  padding-bottom: 45px;
  background-color: rgba(0, 110, 27, 0.5);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4166666667;
}

.hero__button {
  width: 240px;
  white-space: nowrap;
}

.hero.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .hero {
    margin-top: -56px;
  }
  .hero__container {
    text-align: left;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .hero__title {
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.1666666667;
  }
}

.brands {
  position: relative;
  padding-right: 46px;
  padding-left: 46px;
}

.brands__img {
  display: block;
  margin: 0 auto;
}

.brands .slick-list {
  position: static;
}

.brands .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands .slick-prev {
  left: -46px;
}

.brands .slick-next {
  right: -46px;
}

@media (min-width: 1200px) {
  .brands .slick-prev {
    left: -89px;
  }
  .brands .slick-next {
    right: -89px;
  }
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */